.btn {
  background: white;
  min-width: 105px;
  color: black;
  border-radius: 0px;
  border: 1px solid black;
  box-shadow: -1px 1px black;
  height: 37px;
}

.btn:hover {
  background: rgb(255, 140, 0);
  color: black;
}