.menu {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  /* border-top: solid 1px black; */
}

.menu-buttons {
  margin: 0px;
  padding: 0px;
  height: 100%;
  list-style: none;
  display: flex;
  align-items: center;
}