.nav-buttons {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.nav-buttons .btn {
  margin: 10px;
}

.banner-title {
  margin: 0px;
  padding-left: 10px;
  font-size: 40px;
}

